h2, h5 {
	color: white; 
	font-weight: bold;
}

html,body{
    height:100%;
}

body{
  margin:0;
  padding:0
}

#product_tile {
	margin: 5px 5px; 
	width: 180px;
}

#category-container {
	border: 1px solid #eeeeee;
	padding: 5px;
	margin-bottom: 5px;
}	

#spacer{
	padding: 10px;
}

#pill {
	height:40%;
}

#sidebar {
	margin: 0px;
	font-size: medium;
	color: #3959C3;
	background: #fff9c4;
}

#menu {
	color: white;
	margin: 0px; 
	background: #03396c;
}

#content_i {
	background: #F1F1F1;
}

#fullcolor {
	background: white;
}

.contentWrapper {
	flex:1;
	background-image: url("../img/shopping-bags-held-by-lady.jpg");
	background-repeat: no-repeat;
	height: 100%;
	}

.index-container {
	background-image: url("img/blog-image01.jpg");
	padding: 5px 5px;
	margin: 0px;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
}

.cat_item {
	font-size: medium;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.cat_wrapper {
	border: 1px solid #eeeeee;
	padding: 10px;
	margin-bottom: 5px;
}
.reviewer{
    font-size: medium;
    color: brown;
    background-color: #dffffd;
}
.reviewRate{
    font-size: medium;
    color: #0067ab;
    background-color:cornsilk;
}
.bs-example  div[class^="col"] {
    border: 1px solid white;
    background: #ffe8c6;
    text-align: center;
    color: #262951;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-outside: 10px;
}

.card {
	margin: 5px 5px; 
	width: 180px;
	float:left;
	padding: 5px;
	text-align: center;
	}
.card-list:hover {
	box-shadow: 0 0 0 3px #FAFAFA;
	cursor:pointer;
	}
.message_box .box{
	margin: 10px 0px;
    border: 1px solid #2b772e;
    text-align: center;
    font-weight: bold;
    color: #2b772e;
	}
.menu {
	color: white;
	margin: 0px; 
	background: #03396c;
}

.comment-box {
	
	margin: 10px 5px; 
	background: white;
	color: black;
	margin-left: 10px;
	padding: 10px;
	
}
.media .media-object {
max-width: 120px; }
.media-body { margin-left: 20px;
position: relative; }

.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { 
padding: 30px;
border-style: rounded;
background: #eeeeee;
border-radius: 5px;
color: black;
margin-bottom: 10px; }

.Favoritebox {
	border: solid 2px #eeeeee;
	background: white;
	border-radius: 100%;
	padding: 10px;
	}
.Favoritebox:hover{
		color: red;

}
.Revbox {
	border: solid 2px #eeeeee;
	background: white;
	border-radius: 100%;
	padding: 10px;
}
.Revbox:hover{
	color: blue;

}
